{template "mheader.html"}
<script type="text/javascript">
    function validOldPwd() {
        $.post('{dr_member_url('account/cpassword')}', {password: $("#oldPwd").val()}, function(data){
            if (data) {
                $("#err_oldPwd").html(data);
                $("#err_oldPwd_group").addClass('has-error');
            } else {
                $("#err_oldPwd").html('');
                $("#err_oldPwd_group").removeClass('has-error');
            }
        });
    }
    function validCheckPwd() {
        if ($("#newPwd").val() == "") {
            $("#err_checkPwd").html("密码不能为空");
            $("#err_checkPwd_group").addClass('has-error');
        }else if ($("#newPwd").val() != $("#checkPwd").val()) {
            $("#err_checkPwd").html("两次密码不正确");
            $("#err_checkPwd_group").addClass('has-error');
        } else {
            $("#err_checkPwd").html("");
            $("#err_checkPwd_group").removeClass('has-error');
        }
    }
</script>
 <div class="userWarp">
  <div class="container">
   <div class="row">
    <div class="macplus-pannel-bg"> 
     <div class="macplus-user-pics"> 
      <div class="macplus-user-core text-center"> 
       <div class="macplus-user-image" data-role=""> 
        <img class="face macplus-user-radius" src="/statics/youku/img/avatar.jpg?v=1564816680" /> 
       </div> 
       <span class="text-white macplus-user-padding font-16">{$member.username}</span> 
      </div> 
     </div> 
    </div> 
    <div class="macplus-user-rows macplus-user-diss"> 
{template "left.html"}
     <div class="col-lg-wide-75 col-xs-1 macplus-user-t2"> 
      <div class="macplus-user-layout macplus-pannel-bg"> 
       <div class="macplus-user-rows"><h2>安全中心<a class="hidden-lg pull-right font-16"  href="#">返回</a></h2></div> 
	   <form action="/index.php?s=member&c=account&m=password" method="post" class="form-horizontal" novalidate="novalidate">
       <ul class="macplus-user-rows macplus-pannel-bg"> 
        
        <li class="padding-x macplus-user-rows line-top"> 
         <div class="block font-16 macplus-user-rows"> 
          <span class="col-xs-wide-3 col-sm-wide-2 text-overflow">原密码</span> 
          <span class="col-xs-wide-7 col-sm-wide-8 text-overflow"><input class="font-16" type="password" onblur="javascript:validOldPwd();" name="password" id="oldPwd" placeholder="原密码" maxlength="20" /></span> 
         </div> </li> 
        <li class="padding-x macplus-user-rows line-top"> 
         <div class="block font-16 macplus-user-rows"> 
          <span class="col-xs-wide-3 col-sm-wide-2 text-overflow">新密码</span> 
          <span class="col-xs-wide-6 col-sm-wide-7 text-overflow"><input class="font-16" type="password" name="password1" id="newPwd" placeholder="新密码" maxlength="20" /></span> 
          <span class="col-xs-wide-10 col-sm-wide-10 text-overflow text-right text-red">＊</span> 
         </div> </li> 
        <li class="padding-x macplus-user-rows line-top"> 
         <div class="block font-16 macplus-user-rows"> 
          <span class="col-xs-wide-3 col-sm-wide-2 text-overflow">确认密码</span> 
          <span class="col-xs-wide-6 col-sm-wide-7 text-overflow"><input class="font-16" type="password" onblur="javascript:validCheckPwd();" name="password2" id="checkPwd" placeholder="重复密码" maxlength="20" /></span> 
          <span class="col-xs-wide-10 col-sm-wide-10 text-overflow text-right text-red">＊</span> 
         </div> </li> 

        <li class="padding-x macplus-user-rows top-line"> 
         <div class="block font-16 macplus-user-rows"> 
		  <span class="col-sm-5 hidden-xs">&nbsp;</span>
          <input class="col-xs-1 col-sm-3 btn btn-primary" type="submit" name="gaimi" value="保存" />
		  </div> </li> 
       </ul> 
	   </form> 
      </div> 
     </div> 
    </div> 
   </div> 
  </div> 
</div>
{template "mfooter.html"}