{template "header.html"}
  <script type="text/javascript" src="/statics/youku/js/history.js"></script>
	<script type="text/javascript">var vod_name='{$title} ',vod_url=window.location.href,vod_part='第{$id+1}集';</script>
<style type="text/css">
  #timer{background: rgba(0, 0, 0, 0.59);padding: 5px;text-align: center;width: 30px;position: absolute;top: 5%;right: 2%;color: #fff;font-size: 16px;border-radius: 50%;height: 30px;line-height: 20px}
  #xiang{background: rgba(177, 13, 13, 0.87);padding: 5px;text-align: center;width: auto;position: absolute;bottom: 2%;right: 1%;color: #fff;font-size: 16px;border-radius: 10px;height: 20px;line-height: 9px}

        .jkbtn{
            background: deepskyblue;
            color: black;
        }
    </style>

<div class="playWarp">
  <div class="container">
     <div class="row">
    <div class="col-lg-1 col-xs-1 macplus-top-0">
     <div class="macplus-player__item clearfix">
	 	<div class="col-lg-wide-75 col-xs-1 macplus-top-1 padding-0">
	     <div class="macplus-player__switch"><span class="btn_switch_bg"></span><i class="icon_sm icon_left_sm"></i><i class="icon_sm icon_right_sm"></i></div>
      <div class="macplus-player__video embed-responsive embed-responsive-16by9">
       <div id="shiping_box"></div>
	   <script type="text/javascript"> 

          function run(){
        var s = document.getElementById("timer");      
        if(!s){          
            return false;
        }else{
          s.innerHTML = s.innerHTML * 1 - 1;
        }
        
    }
	var line = ["http://jx.ph63.com/?url="{php $jk = @explode(PHP_EOL, $jiekou);}				
	{loop $jk $i $k}
	{php list( $name,$link)=explode('$', $k);},"{$link}"{/loop}];

	playerSwitch = function(lineIndex)
	{
		var autourl = $('.lipbtn a:eq(0)').attr('data-href');
		$("#video").attr("src",line[lineIndex] + autourl);
		$(".player_switch #" + lineIndex + "" ).attr("onclick","");
		$(".player_switch #" + lineIndex + "" ).siblings().attr("onclick","playerSwitch(this.id)");
	}
    window.setInterval("run();", 1000);
	$('#shiping_box').html('<div style="text-align:center;width:100%;"></div><div id="timer">1</div>');
    //设置延时函数
    function adsUp(){
                    var biaoti = $('#xuji').text();
	                var autourl = $('.lipbtn a:eq(0)').attr('data-href');
					
                    var text = $('.lipbtn:eq(0)').text();
                    $('.js').text('-'+text+'');
                    var jiekou = $('#xlus').children('.list').children('a:eq(0)').attr('data-jk');
				    var src=line[0]+autourl;    
        $("#shiping_box").html('<iframe id="video" src="'+src+'"  allowfullscreen="true" allowtransparency="true" style="width:100%;border:none"></iframe>');  
    }
    //五秒钟后自动收起
    var t = setTimeout(adsUp,1000); 
    
</script>
		<div class="macplus-player__jiexi hide">	
		<h3 class="text-center">无法播放，切换如下解析试试</h3>	
			<div class="player_switch clearfix" id="xlus">
			<li class="list"><a onclick="playerSwitch(this.id)" id="0" class="btns-info active">默认解析</a></li>
{php $jk = @explode(PHP_EOL, $jiekou);}				
{loop $jk $i $k}
{php list( $name,$link)=explode('$', $k);}
<li class="list"><a onclick="playerSwitch(this.id)" id="{$i+1}" class="btns-info">{$name}</a></li>
{/loop}

		   </div>
		</div>

	  </div>
	  </div>
	  <div class="col-lg-wide-25 visible-lg hide">
	  <div class="player_side_hd"><div class="player_helper"><span class="helper_btn"><i class="icon iconfont icon-lights"></i></span></div></div>
	<div class="mod_player_side">
{if $leixing == 'm'}
      <div class="scroll_top">
    <h2 class="player_title text-overflow"><a href="#" target="_blank">{$title}</a></h2>

	</div>
    <div class="scroll_wrap">
		 <div class="player_playlist macplus-pannel_hd clearfix">
		 		 <ul class="macplus-content__playlist column3 fade in active" id="con_dplaylist_1">
				 	 {loop $playlist $i $c}
{if $c['link'] != 'javascript:;'}
<li {if $i==$id}id="ys" class="active lipbtn"{/if}><a  data-num='{$c.title}' data-href="{$c.link}" href="{dr_url('vodshow/play')}&play={$play}&id={$i}" >{$c.title}</a></li>
{/if}
{/loop}

		  		  </ul>
             </div>
  </div>
 {/if}
{if $leixing == 'tv' || $leixing == 'ct'}						

      <div class="scroll_top">
    <h2 class="player_title text-overflow"><a href="#" target="_blank">{$title}</a></h2>
	        <div class="player_hint">
		<div class="details-play-title clearfix">
                        <ul class="nav nav-tabs">
                          <li class="dropdown mplayer active">
                            <a href="#" id="myTabDrop2" class="gico kuyun" data-toggle="dropdown">
                              <span class="name">切换来源</span>
                              <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop2">
                              {loop $playlist $i $c}<li>
                      <a class="gico kuyun" href="#con_dplaylist_{$i}" tabindex="-1" data-toggle="tab">{$c.name}</a></li>
                    {/loop}
                            </ul>
                          </li>
                        </ul>
                      </div>

        </div>
	</div>

	
    <div class="scroll_wrap">
	
		 <div class="player_playlist macplus-pannel_hd clearfix">{loop $playlist $i $c}
		 		 <ul class="macplus-content__playlist column3 fade {if $i==$xl}in active{/if}" id="con_dplaylist_{$i}">

{loop $c['url'] $k $p}
{if $p['link'] != '#'}
<li {if $k==$id && $i==$xl}id="ys" class="active lipbtn"{/if}><a  data-num='{$p.jishu}' data-href="{$p.link}" href="{dr_url('vodshow/play')}&play={$play}&id={$k}&xl={$i}">第{$p.jishu}集</a></li>
{/if}
{/loop}

		  		  </ul>{/loop}
             </div>
  </div>

  
 {/if}
 {if $leixing == 'va'}						

      <div class="scroll_top">
    <h2 class="player_title text-overflow"><a href="#" target="_blank">{$title}</a></h2>
	        <div class="player_hint">
				<div class="details-play-title clearfix">
                        <ul class="nav nav-tabs">
                          <li class="dropdown mplayer active">
                            <a href="#" id="myTabDrop2" class="gico kuyun" data-toggle="dropdown">
                              <span class="name">切换来源</span>
                              <b class="caret"></b>
                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop2">
                              {loop $playlist $i $c}<li>
                      <a class="gico kuyun" href="#con_playlist_{$i}" tabindex="-1" data-toggle="tab">{$c.name}</a></li>
                    {/loop}
                            </ul>
                          </li>
                        </ul>
                      </div>

        </div>
	</div>
	
	
    <div class="scroll_wrap">
	
		 <div class="player_playlist macplus-pannel_hd clearfix">
		 {loop $playlist $i $c}
		 		 <ul class="macplus-content__playlist column3 {if $i==$xl}in active{/if}" id="con_dplaylist_{$i}">

{loop $c['url'] $k $p}
{if $p['link'] != '#'}
<li {if $k==$id && $i==$xl}id="ys" class="active lipbtn"{/if}><a  data-num='{$p.jishu}' data-href="{$p.link}" href="{dr_url('vodshow/play')}&play={$play}&id={$k}&xl={$i}"><img src='{$p.img}' width=100%><br>{$p.title}</a></li>
{/if}
{/loop}

		  		  </ul>
				    {/loop}
             </div>
  </div>
  

 {/if}
</div>

	  </div>
      <div class="macplus-player__detail detail  clearfix">
       <ul class="more-btn">
		<li><a class="btns-info detailjiexi" href="javascript:;">切换解析</a></li>
	   	<li><a class="btns-info" href="javascript:;" onclick="window.location.reload()">刷新</a></li>
		<!-- <li><a class="btns-info detailreport" href="javascript:;" onclick="MAC.Gbook.Report('【ID:997-名称:坂道上的家/育儿危机-第01集-kkm3u8】无法观看请检查修复。页面地址：' + location.href,'997')">报错</a></li> -->
        <li><a class="btns-info" href="{dr_url('vodshow/play')}&play={$play}&id={$id-1}&xl={$xl}">上一集</a></li>
        <li><a class="btns-info" href="{dr_url('vodshow/play')}&play={$play}&id={$id+1}&xl={$xl}">下一集</a></li>
       </ul>
       <h1 class="title"><a href="#">{$title}<span class="js"></span></a></h1>
       <p class="data margin-0"><span class="text-muted">类型：</span>{$type}<span class="split-line"></span><span class="text-muted">地区：</span>{$area}<span class="split-line"></span><span class="text-muted">年份：</span>{$year}	<span class="split-line"></span><a class="detail-mori" href="javascript:;">详情 <i class="icon iconfont icon-moreunfold"></i></a></p>
	<div class="detail-content" style="display: none;">
		<p class="data"><span class="text-muted">导演：</span>{$director}</p>
		<p class="data"><span class="text-muted">主演：</span>{$actor}</p>
		<p class="data margin-0"><span class="text-muted">简介：</span>{$xiangqing}</p>
		</div>
	   </div>
     </div>
</div>
</div>
</div>
</div>
<div class="player-mask"></div>
  <div class="container">
   <div class="row">
	 <div class="col-lg-wide-75 col-xs-1 macplus-top-1 macplus-lefter">
<div class="macplus-play-list hidden-lg block">
{if $leixing == 'm'}
      <div class="details-play-title clearfix">
      <ul class="nav nav-tabs hidden-xs" id="playTab">
		<li class="hidden-xs active"><a class="gico kkm3u8" href="#con_playlist_1" data-toggle="tab">播放列表</a></li>
	     </ul>
<ul class="nav nav-tabs hidden-sm hidden-md hidden-lg">
         <li class="dropdown mplayer active">
		 		 <a href="#" id="myTabDrop2" class="gico kkm3u8" data-toggle="dropdown"><span class="name">播放列表</span><b class="caret"></b></a>

				</li>   
  		<li class="pull-right">无法播放切换<span class="text-green">解析</span>或<span class="text-green">播放源</span>。</li>
			   </ul>
			</div>
	<div class="macplus-pannel macplus-pannel-box macplus-pannel-bg">
		 <div class="player_playlist macplus-pannel_hd">
		 
		 <ul class="macplus-content__playlist column8 clearfix fade in active" id="con_playlist_1">
		  		 {loop $playlist $i $c}
{if $c['link'] != 'javascript:;'}
<li {if $i==$id}id="ys" class="active lipbtn"{/if}><a  data-num='{$c.title}' data-href="{$c.link}" href="{dr_url('vodshow/play')}&play={$play}&id={$i}" >{$c.title}</a></li>
{/if}
{/loop}
		  		  </ul>
       	      </div>
  </div>
 {/if}
{if $leixing == 'tv' || $leixing == 'ct'}	
      <div class="details-play-title clearfix">
      <ul class="nav nav-tabs hidden-xs" id="playTab">
	  
		{loop $playlist $i $c}
		<li class="hidden-xs {if $i==$xl}active{/if}"><a class="gico kkm3u8" href="#con_playlist_{$i}" data-toggle="tab">{$c.name}</a></li>
		{/loop}
	     </ul>
<ul class="nav nav-tabs hidden-sm hidden-md hidden-lg">
         <li class="dropdown mplayer active">
		 		 <a href="#" id="myTabDrop2" class="gico kkm3u8" data-toggle="dropdown"><span class="name">切换来源</span><b class="caret"></b></a>

				
<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop2">
                     {loop $playlist $i $c}<li>
                      <a class="gico kuyun" href="#con_playlist_{$i}" tabindex="-1" data-toggle="tab">{$c.name}</a></li>
                    {/loop}
                  </ul>

				</li>   
  		<li class="pull-right">无法播放切换<span class="text-green">解析</span>或<span class="text-green">播放源</span>。</li>
			   </ul>
			</div>
			

	<div class="macplus-pannel macplus-pannel-box macplus-pannel-bg">
		 <div class="player_playlist macplus-pannel_hd">
{loop $playlist $i $c}		 
		 <ul class="macplus-content__playlist column8 clearfix fade {if $i==$xl}in active{/if}" id="con_playlist_{$i}">
{loop $c['url'] $k $p}
{if $p['link'] != '#'}
<li {if $k==$id && $i==$xl}id="ys" class="active lipbtn"{/if}><a  data-num='{$p.jishu}' data-href="{$p.link}" href="{dr_url('vodshow/play')}&play={$play}&id={$k}&xl={$i}">第{$p.jishu}集</a></li>
{/if}
{/loop}
		  		  </ul>  {/loop}
       	      </div>
  </div>


 {/if}
 {if $leixing == 'va'}	
      <div class="details-play-title clearfix">
      <ul class="nav nav-tabs hidden-xs" id="playTab">
	  
		{loop $playlist $i $c}
		<li class="hidden-xs {if $i==$xl}active{/if}"><a class="gico kkm3u8" href="#con_playlist_{$i}" data-toggle="tab">{$c.name}</a></li>
		{/loop}
	     </ul>
<ul class="nav nav-tabs hidden-sm hidden-md hidden-lg">
         <li class="dropdown mplayer active">
		 		 <a href="#" id="myTabDrop2" class="gico kkm3u8" data-toggle="dropdown"><span class="name">切换来源</span><b class="caret"></b></a>

				
<ul class="dropdown-menu" role="menu" aria-labelledby="myTabDrop2">
                     {loop $playlist $i $c}<li>
                      <a class="gico kuyun" href="#con_playlist_{$i}" tabindex="-1" data-toggle="tab">{$c.name}</a></li>
                    {/loop}
                  </ul>

				</li>   
  		<li class="pull-right">无法播放切换<span class="text-green">解析</span>或<span class="text-green">播放源</span>。</li>
			   </ul>
			</div>
			

	<div class="macplus-pannel macplus-pannel-box macplus-pannel-bg">
		 <div class="player_playlist macplus-pannel_hd">
{loop $playlist $i $c}		 
		 <ul class="macplus-content__playlist column8 clearfix fade {if $i==$xl}in active{/if}" id="con_playlist_{$i}">
{loop $c['url'] $k $p}
{if $p['link'] != '#'}
<li {if $k==$id && $i==$xl}id="ys" class="active lipbtn"{/if}><a  data-num='{$p.jishu}' data-href="{$p.link}" href="{dr_url('vodshow/play')}&play={$play}&id={$k}&xl={$i}"><img src='{$p.img}' width=100%><br>{$p.title}</a></li>
{/if}
{/loop}
		  		  </ul>  {/loop}
       	      </div>
  </div>


 {/if}
</div>

	      <div class="macplus-pannel macplus-pannel-bg clearfix">
      <div class="macplus-pannel-box">
       <div class="macplus-pannel_hd">
        <div class="macplus-pannel__head clearfix">
         <h3 class="title">猜你喜欢</h3>
        </div>
       </div>
       <div class="macplus-pannel_bd">
        <ul class="macplus-vodlist__bd clearfix">
		 {loop $like $c}
		 
		 <li class="col-md-5 col-sm-4 col-xs-3">
		            <div class="macplus-vodlist__bag">
           <a class="macplus-vodlist__thumb lazyload" href="{dr_url('vodshow/index/')}&play={$c.link}" title="{$c.title}" data-original="{$c.thumb}">
		   <span class="pic-text text-right"></span></a>
           <div class="macplus-vodlist__detail active">
            <h4 class="title text-overflow"><a href="{dr_url('vodshow/index/')}&play={$c.link}" title="{$c.title}">{$c.title}</a></h4>
            <p class="text text-overflow text-muted hidden-xs"></p>
           </div>
          </div>
		  </li>
{/loop}

		        </ul>
       </div>
      </div>
     </div>
     <div class="macplus-pannel macplus-pannel-bg clearfix">
      <div class="macplus-pannel-box">
       <div class="macplus-pannel_hd">
        <div class="macplus-pannel__head clearfix">
         <h3 class="title">精彩评论</h3>
        </div>
       </div>
       <div class="macplus-pannel_bd">
        <div id="SOHUCS" sid="{$play}" ></div>
<script charset="utf-8" type="text/javascript" src="https://changyan.sohu.com/upload/changyan.js" ></script>
<script type="text/javascript">
window.changyan.api.config({
appid: 'cysPIN8kK',
conf: 'prod_19ed857c131b2a0830051fb373c9f9fa'
});
</script>
       </div>
      </div>

     </div>
    </div>
    <div class="col-lg-wide-25 col-xs-1 visible-lg hide macplus-righter">
     <div class="macplus-pannel macplus-pannel-bg clearfix">
      <div class="macplus-pannel-box">
       <div class="macplus-pannel_hd">
        <div class="macplus-pannel__head clearfix">
		 <h3 class="title"><a href="" target="_blank">热播榜</a></h3>
        </div>
       </div>
       <div class="macplus-pannel_bd">
		        <ul class="macplus-vodlist__media active col-pd clearfix">
					<li class="padding-0">
				<a class="macplus-vodlist__thumb active lazyload img-shadow" href="#" title="极品老妈第六季" data-original="http://img.kuyun88.com/pic/uploadimg/2018-9/20189291217452437.jpg">						
				<span class="play-mask hidden-xs"><em class="play-icon-s"></em></span>
				<span class="pic-text text-center">广告</span>
				<span class="pic-tag pic-tag-h">Top1</span>						
				</a>
			</li>
		          </ul>
        <ul class="macplus-vodlist__rank col-pd clearfix">
		{loop $bang $i $c}
		         <li class="text-overflow"><a href="{dr_url('vodshow/index/')}&play={$c.link}" title="{$c.title}"><span class="badge badge-first">{$i+1}</span>{$c.title}<span class="pull-right text-green">{$c.pv}</span></a></li>
{/loop}
		        
		        </ul>
		       </div>
      </div>

     </div>
    </div>
	  <div class="mac_hits hits hide" data-mid="1" data-id="997" data-type="hits"></div>
   </div>
  </div>
 </div>
</div>

{template "footer.html"}