{template "header.html"}
		<div class="container Compatible">
			<div class="row">
				<div class="macplus-pannel macplus-pannel-bg macplus-top-10 clearfix">
					<div class="macplus-pannel-box">
						<div class="macplus-pannel_hd">
							<div class="macplus-pannel__head add bottom-line clearfix">
								<h3 class="title">热门专题</h3>														
							</div>
						</div>
						<div class="macplus-pannel_bd">
							<ul class="macplus-vodlist clearfix">
														</ul>	
										</div>
					</div>					
				</div>						
			</div>
		</div>
{template "footer.html"}