<!doctype html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MUMUXIYA影院|梦雅影院|木木夕雅电影网|无水印电影</title>
    <meta name="description" content="MUMUXIYA影院关于我_木木夕雅影院关于我_梦雅影院_木木夕雅电影网_梦雅电影下载|梦雅无水印高清电影在线观看（api.mumuxiya.com）是中国最大的免费无水印电影在线观看站，网站自2009年10月在美国创建以来，为广大电影爱好者提供了最新最专业的电影分享、愉悦的在线用户体验，力求让电影本身不再受水印的困扰，努力成为中国人气最旺的免费无水印电影下载站！">
    <meta name="keywords" content="木木夕雅影院关于我_MUMUXIYA影院关于我_梦雅影院关于我_梦雅电影网关于我_梦雅电影网关于我_MUMUXIYA电影网关于我_MUMUXIYA最新电影_梦雅电影_木木夕雅电影_木木夕雅_mumuxiya_梦雅_MUMUXIYA电影_无水印电影_梦雅在线观看_mumuxiya在线观看_木木夕雅在线观看">
    <link rel="shortcut icon" href="https://mumuxiya.oss-cn-beijing.aliyuncs.com/icons/b9e0cd7d8518f5d2e0c98493e3f238a.jpg" type="image/x-icon">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="canonical" href="https://v4ing.bootcss.com/docs/4.3/examples/offcanvas/">
    <link href="https://v4.bootcss.com/docs/4.3/examples/offcanvas/offcanvas.css" rel="stylesheet">
    <link rel="stylesheet" href="https://unpkg.com/swiper/css/swiper.min.css">
    <style>
        .img-height{
            height: 348px;
        }
        @media (max-width: 575.98px) {
            .img-height{
                height: 167px;
            }
            .title{
                font-size: 0.5rem;
            }
            .type{
                font-size: 0.5rem;
                padding: 0px;
                text-align: center;
            }
            .casts,.ycy,.gallery-thumbs{
                display: none;
            }
            .fixed-top2{
                position: inherit !important;
            }
        }
        @media (min-width: 1200px){
            .container {
                max-width: 1482px !important;
            }
        }
        .swiper-container {
            width: 100%;
            height: 300px;
            margin-left: auto;
            margin-right: auto;
        }
        /*.swiper-container:last-child {*/
        /*    width: 70%;*/
        /*    margin-left: auto;*/
        /*    margin-right: auto;*/
        /*}*/
        .swiper-slide {
            background-size: cover;
            background-position: center;
        }
        .gallery-top {
            height: 80%;
            width: 100%;
        }
        .gallery-thumbs {
            height: 20%;
            box-sizing: border-box;
            padding: 10px 0;
        }
        .gallery-thumbs .swiper-slide {
            height: 100%;
            opacity: 0.4;
        }
        .gallery-thumbs .swiper-slide-thumb-active {
            opacity: 1;
        }

    </style>
    <!-- baidu -->
    <script>
        (function(){
            var bp = document.createElement('script');
            var curProtocol = window.location.protocol.split(':')[0];
            if (curProtocol === 'https') {
                bp.src = 'https://zz.bdstatic.com/linksubmit/push.js';
            }
            else {
                bp.src = 'http://push.zhanzhang.baidu.com/push.js';
            }
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(bp, s);
        })();
    </script>
    <!-- 360 -->
    <script>
        (function(){
            var src = "https://jspassport.ssl.qhimg.com/11.0.1.js?d182b3f28525f2db83acfaaf6e696dba";
            document.write('<script src="' + src + '" id="sozz"><\/script>');
        })();
    </script>
</head>
<body class="pt-0" style="background: rgb(52,58,64)">
<div class="shadow bg-white rounded float">
    <nav class="navbar fixed-top fixed-top2 navbar-light bg-light">
        <div class="navbar-brand">
            <a  th:href="@{/}">
                <img src="https://mumuxiya.oss-cn-beijing.aliyuncs.com/icons/b9e0cd7d8518f5d2e0c98493e3f238a.jpg" width="30" height="30" alt="">
                <a class="ycy">MUMUXIYA影院</a>
            </a>
        </div>
        <div class="ycy">
            <div class="nav-scroller py-1 mb-2 col-md-12">
                <nav class="nav d-flex justify-content-between">
                    <a class="p-2 text-muted" href="http://wall.mumuxiya.com"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">MUMUXIYA壁纸</font></font></a>
                    <a class="p-2 text-muted" href="http://music.mumuxiya.com"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">MUMUXIYA音乐</font></font></a>
                </nav>
            </div>
        </div>
        <div>
            <form class="form-inline" th:action="@{/dySearch}" method="post">
                <div class="input-group ">
                    <input type="text" class="form-control" name="value" placeholder="请输入影片名称" aria-label="Recipient's username" aria-describedby="button-addon2">
                    <div class="input-group-append">
                        <button class="btn btn-outline-secondary" type="submit" id="button-addon2">搜索</button>
                    </div>
                </div>
            </form>
        </div>
    </nav>
</div>
<div class="bd-example">

    <!-- Swiper -->
    <div class="swiper-container gallery-top">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(./images/nature-1.jpg)" th:each="wp:${wheelPlantings}">
                <a th:href="@{/play}+${wp.url}">
                    <img th:src="${wp.imgUrl}" width="100%" height="100%">
                    <!--                        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Second slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#666"></rect><text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text></svg>-->
                </a>
            </div>
        </div>
        <!-- Add Arrows -->
        <div class="swiper-button-next swiper-button-white"></div>
        <div class="swiper-button-prev swiper-button-white"></div>
    </div>
    <div class="swiper-container gallery-thumbs">
        <div class="swiper-wrapper">
            <div class="swiper-slide" style="background-image:url(./images/nature-1.jpg)" th:each="wp:${wheelPlantings}">
                    <img th:src="${wp.imgUrl}" width="100%" height="100%">
                    <!--                        <svg class="bd-placeholder-img bd-placeholder-img-lg d-block w-100" width="800" height="400" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Second slide"><title>Placeholder</title><rect width="100%" height="100%" fill="#666"></rect><text x="50%" y="50%" fill="#444" dy=".3em">Second slide</text></svg>-->
            </div>
        </div>
    </div>
</div>
<div class="container-fluid pl-1 pr-1" >
    <div class="container">
        <div class="row border-bottom pb-3 pt-1">
            <nav class="col-md-5 nav">
                <div class="col-md-12 col-12 p-2 d-flex bd-highlight"><h5 class="font-weight-bold">MUMUXIYA影院</h5></div>
                <div class="col-md-4 col-4 type">
                    <a class="p-2 text-muted font-weight-bold" th:href="@{/dy}+'?rank=rankhot'"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">近期热门</font></font></a>
                </div>
                <div class="col-md-4 col-4 type">
                    <a class="p-2 text-muted font-weight-bold" th:href="@{/dy}+'?rank=createtime'"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">最近上线</font></font></a>
                </div>
                <div class="col-md-4 col-4 type">
                    <a class="p-2 text-muted font-weight-bold" th:href="@{/dy}+'?rank=rankpoint'"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">评分最高</font></font></a>
                </div>
            </nav>
                <nav class="col-md-3 nav ycy">
                        <div class="col-md-12 col-12 p-2 d-flex bd-highlight"><h5 class="font-weight-bold">频道</h5></div>
                        <div class="col-md-4 col-2 type">
                            <a class="p-2 text-muted font-weight-bold" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">电影</font></font></a>
                        </div>
                        <div class="col-md-4 col-2 type">
                            <a class="p-2 text-muted font-weight-bold" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">剧集</font></font></a>
                        </div>
                        <div class="col-md-4 col-2 type">
                            <a class="p-2 text-muted font-weight-bold" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">动漫</font></font></a>
                        </div>
                        <div class="col-md-4 col-2 type">
                            <a class="p-2 text-muted font-weight-bold" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">内地</font></font></a>
                        </div>
                        <div class="col-md-4 col-2 type">
                            <a class="p-2 text-muted font-weight-bold" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">北美</font></font></a>
                        </div>
                        <div class="col-md-4 col-2 type">
                            <a class="p-2 text-muted font-weight-bold" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">香港</font></font></a>
                        </div>
                </nav>
                <nav class="col-md-4 nav ycy">
                    <div class="col-md-12 p-2 d-flex bd-highlight"><h5 class="font-weight-bold">分类</h5>　<span class="font-weight-normal">全部></span></div>
                    <div class="col-md-2 col-2 type">
                        <a class="p-2 text-muted font-weight-bold" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">最新</font></font></a>
                    </div>
                    <div class="col-md-2 col-2 type">
                        <a class="p-2 text-muted font-weight-bold" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">最热</font></font></a>
                    </div>
                    <div class="col-md-2 col-2 type">
                        <a class="p-2 text-muted font-weight-bold" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">好评</font></font></a>
                    </div>
                    <div class="col-md-2 col-2 type">
                        <a class="p-2 text-muted font-weight-bold" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">喜剧</font></font></a>
                    </div>
                    <div class="col-md-2 col-2 type">
                        <a class="p-2 text-muted font-weight-bold" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">恐怖</font></font></a>
                    </div>
                    <div class="col-md-2 col-2 type">
                        <a class="p-2 text-muted font-weight-bold" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">爱情</font></font></a>
                    </div>
                    <div class="col-md-2 col-2 type">
                        <a class="p-2 text-muted font-weight-bold" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">武侠</font></font></a>
                    </div>
                    <div class="col-md-2 col-2 type">
                        <a class="p-2 text-muted font-weight-bold" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">犯罪</font></font></a>
                    </div>
                    <div class="col-md-2 col-2 type">
                        <a class="p-2 text-muted font-weight-bold" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">悬疑</font></font></a>
                    </div>
                    <div class="col-md-2 col-2 type">
                        <a class="p-2 text-muted font-weight-bold" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">惊悚</font></font></a>
                    </div>
                    <div class="col-md-2 col-2 type">
                        <a class="p-2 text-muted font-weight-bold" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">科幻</font></font></a>
                    </div>
                    <div class="col-md-2 col-2 type">
                        <a class="p-2 text-muted font-weight-bold" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">伦理</font></font></a>
                    </div>
                </nav>
            <div class="col-md-4">
            </div>
        </div>
<!--        <div class="row mt-3">-->
<!--            <div class="col-md-12 p-2 d-flex bd-highlight"><h3>电影热播榜</h3></div>-->
<!--            <div class="col-md-2 col-4 pl-2 pr-2 mb-3 shadow-lg rounded" th:each="d:${dbs.data}">-->
<!--                <div class="card" style="border:0;">-->
<!--                    <div class="bd-placeholder-img card-img-top" width="100%" height="305">-->
<!--                        <a th:href="@{/dbjx}+'?id='+${d.id}" class="text-decoration-none" target="_blank" >-->
<!--                            <img th:src="${d.cover}" alt="" class="rounded img-height" width="100%" >-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <a th:href="@{/play}+'?url='+${d.url}" class="text-decoration-none"  target="_blank"  >-->
<!--                            <p class="card-title text-truncate font-weight-bold text-muted p-1 m-0 title" ><text th:text="${d.title}"></text>　<text th:text="${d.rate}"></text></p>-->
<!--                            <p class="card-text text-truncate casts" ><small th:each="dc:${d.casts}" th:text="${dc}+'/ '">主演</small> </p>-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->

        <div class="row pt-3">
            <div class="col-md-12 p-2 d-flex bd-highlight"><h3>电影热播榜</h3></div>
            <div class="col-md-2 col-4 pl-1 pr-1 mb-3 shadow rounded" th:each="d:${dys}" >
                <div class="card" style="border:0;">
                    <div class="bd-placeholder-img card-img-top" width="100%" height="255">
                        <a th:href="@{/play}+${d.url}"  target="_blank"  >
                            <img th:src="${d.imgUrl}" alt="" class="rounded img-height" width="100%" >
                        </a>
                    </div>
                    <div>
                        <a th:href="@{/play}+${d.url}"  target="_blank"  >
                            <p class="card-title text-truncate text-muted p-1 m-0" ><small th:text="${d.name}"></small></p>
                            <p class="card-text text-truncate" ><small th:text="${d.actor}+'/ '">主演</small></p>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 p-3"><h4>电视剧热播榜</h4></div>
            <div class="col-md-2 col-4 pl-1 pr-1 mb-3 shadow rounded" th:each="d:${tvs}">
                <div class="card" style="border:0;">
                    <div class="bd-placeholder-img card-img-top" width="100%" height="255">
                        <a th:href="@{/tvplay}+'?url='+${d.url}"  target="_blank"  >
                            <img th:src="${d.imgUrl}" alt="" class="rounded img-height" width="100%" >
                        </a>
                    </div>
                    <div>
                        <a th:href="@{/play}+'?url='+${d.url}"  target="_blank"  >
                            <p class="card-title text-truncate text-muted p-1 m-0" ><small th:text="${d.name}"></small></p>
                            <!--                        <p class="card-text text-truncate" ><small th:text="${d.actor}">主演</small></p>-->
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 p-3"><h4>综艺热播榜</h4></div>
            <div class="col-md-2 col-4 pl-1 pr-1 mb-3 shadow rounded" th:each="d:${zys}">
                <div class="card" style="border:0;">
                    <div class="bd-placeholder-img card-img-top" width="100%" height="255">
                        <a th:href="@{/zyplay}+${d.url}"  target="_blank"  >
                            <img th:src="${d.imgUrl}" alt="" class="rounded img-height" width="100%" >
                        </a>
                    </div>
                    <div>
                        <a th:href="@{/zyplay}+${d.url}"  target="_blank"  >
                            <p class="card-title text-truncate text-muted p-1 m-0" ><small th:text="${d.name}"></small></p>
                            <!--                        <p class="card-text text-truncate" ><small th:text="${d.actor}">主演</small></p>-->
                        </a>
                    </div>
                </div>
            </div>
        </div>
<!--        <div class="row mt-3">-->
<!--            <div class="col-md-12 p-2 d-flex bd-highlight"><h3>电影热播榜</h3></div>-->
<!--            <div class="col-md-2 col-4 pl-2 pr-2 mb-3 shadow-lg rounded" th:each="d:${rankings}">-->
<!--                <div class="card" style="border:0;">-->
<!--                    <div class="bd-placeholder-img card-img-top" width="100%" height="305">-->
<!--                        <a th:href="@{/play}+'?url='+${d.url}"  target="_blank" >-->
<!--                            <img th:src="${d.imgUrl}" alt="" class="rounded img-height" width="100%" >-->
<!--                        </a>-->
<!--                    </div>-->
<!--                    <div>-->
<!--                        <a th:href="@{/play}+'?url='+${d.url}"  target="_blank"  >-->
<!--                            <p class="card-title text-truncate text-muted p-1 m-0" ><small th:text="${d.name}"></small></p>-->
<!--                            &lt;!&ndash;                        <p class="card-text text-truncate" ><small th:text="${d.actor}">主演</small></p>&ndash;&gt;-->
<!--                        </a>-->
<!--                    </div>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-end">
                <li class="page-item disabled">
                    <a class="page-link" th:href="@{/dy}" tabindex="-1" aria-disabled="true">首页</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" onClick="javascript :history.back(-1);">上一页</a>
                </li>
                <li class="page-item">
                    <a class="page-link" href="#" th:href="@{/dy} + '?pageno='+${pageno}">下一页</a>
                </li>
            </ul>
        </nav>

    </div>
</div>
<footer class="footer mt-auto py-3 mt-5 mb-5 text-center">
    <div class="container">
        <span class="text-muted"><a th:href="@{/}">MUMUXIYA影院-木木夕雅影院</a>本站资源来源于网络,若有侵权请发邮箱至1360602971@qq.com</span>
            <div><!-- Button trigger modal -->
                <span type="button" class="text-muted" data-toggle="modal" data-target="#exampleModalScrollable">
                    　公众号：木木夕雅　
                </span>
                <a type="button" class="text-muted" th:href="@{/my}" target="_blank">
                    　关于我~　
                </a>
                <a type="button" class="text-muted" href="http://music.mumuxiya.com" target="_blank">
                    　MUMUXIYA音乐~　
                </a>
                <a type="button" class="text-muted" href="http://wall.mumuxiya.com" target="_blank">
                    　MUMUXIYA壁纸~　
                </a>
            </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModalScrollable" tabindex="-1" role="dialog" aria-labelledby="exampleModalScrollableTitle" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalScrollableTitle">MUMUXIYA</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <img src="https://mumuxiya.oss-cn-beijing.aliyuncs.com/icons/qrcode_for_gh_0276e8c88bf5_430.jpg" class="rounded img-thumbnail d-block" alt="...">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
<!--                        <button type="button" class="btn btn-primary">Save changes</button>-->
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script src="https://unpkg.com/swiper/js/swiper.min.js"> </script>
<script>
    var galleryThumbs = new Swiper('.gallery-thumbs', {
        //direction: 'vertical',
        autoplay: {
            delay: 5000,
            stopOnLastSlide: false,
            disableOnInteraction: true,
        },
        spaceBetween: 10,
        slidesPerView: 4,
        loop: true,
        freeMode: true,
        loopedSlides: 5, //looped slides should be the same
        watchSlidesVisibility: true,
        watchSlidesProgress: true,
    });
    var galleryTop = new Swiper('.gallery-top', {
        autoplay: true,
        spaceBetween: 10,
        loop:true,
        loopedSlides: 5, //looped slides should be the same
        navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
        },
        thumbs: {
            swiper: galleryThumbs,
        },
    });
</script>
</body>
</html>